configuration {
  modi:                "drun,window";
  show-icons:          true;
  icon-theme:          "Papirus";
  display-drun:        "Applications";
  display-window:      "Windows";
  drun-display-format: "{icon}  {name}";
  font:                "CaskaydiaCove Nerd Font 15";
}

@theme "appearance"
